/* Container + Header + Site nav */

.header {
  border-bottom: 1px solid #ECECEC;
  padding: 25px 0px;

  &__container {
    display: flex;
    align-items: center;
  }
}

.contacts__list {
  margin-left: auto;
  display: none;
  @media screen and(min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
  @media screen and(max-width: 1199px) {
    margin-bottom: 12px;
  }  
}

.contacts__list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic);
  
  &:hover,
  &:focus{
    color: var(--accent-color);
  }
}

.mail {
  margin-right: 10px;
  fill: currentColor;
}

.tel {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic);
  @media screen and(min-width: 480px) {
    margin-right: 88px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    @media screen and(min-width: 1200px) {
      margin-right: 50px;
    }
  }

  &__list {
    @media screen and(min-width: 768px) {
      display: flex;
    }
  }
}

.nav__list .link {
  display: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--cubic);

  @media screen and(min-width: 768px) {
    display: block;
  }
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.nav__link--current::after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -33px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.mobile-menu__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
}